<%= stylesheet_link_tag 'admin_events' %>

<p style="color: green" class="ms-5"><%= notice %></p>

<div class="d-flex flex-row justify-content-between mt-3 mx-5">
  <h3>Eventos</h3>
  <div>
    <%= link_to "Crea un Evento", new_admin_event_path, class: "btn btn-outline-primary py-0" %>
  </div>
</div>

<div class="calends border border-dark rounded text-center my-5">
  <h3 class="mt-3">Calendario de Eventos</h3>
  <%= month_calendar(events: @admin_events) do |date, events| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% events.each do |event| %>
      <div class="card-header">
        <div class="card-title">
          <small><%= link_to event.title, admin_event_path(event.id) %></small>
        </div>
      </div>
    <% end %>

  <% end %>
</div>

<div id="admin_events" class="d-flex flex-wrap mx-5">
  <% @admin_events.each do |event| %>
    <div class="event-container border border-dark rounded my-2 mx-2 py-5 px-5">
      <%= render event %>
      <div class="d-flex flex-row justify-content-end">
        <%= link_to "Mas", admin_event_path(event.id) %>
      </div>
    </div>
  <% end %>
</div>

