<div id="<%= dom_id article %>">

  <div class="mb-3">
    <%= article.images.any? ? image_tag(article.images.first, height: 100, width: 100) : image_tag("https://via.placeholder.com/100")%>
  </div>


  <p>
    <strong>Categoria:</strong>
    <%= article.category %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= article.text %>
  </p>

</div>
