<%= form_with(model: [:admin, admin_article]) do |form| %>
  <% if admin_article.errors.any? %>
    <div style="color: red" class="ms-5">
      <h6><%= pluralize(admin_article.errors.count, "error") %> ha impedido que esta actividad se guarde:</h6>

      <ul>
        <% admin_article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="border border-dark rounded mx-5 py-5 px-5">

    <div class="mb-3">
      <b><%= form.label "Categoria:", class: "form-label" %></b><br />
      <%= form.select :category, [["Miscelanea", "Miscelanea"], ["Tecnica de Varon", "Tecnica de Varon"], ["Tecnica de Mujer", "Tecnica de Mujer"]], class: "form-control form-control-sm" %>
    </div>

    <div class="mb-3">
      <b><%= form.label "Titulo:", class: "form-label" %></b><br />
      <%= form.text_field :title, class: "form-control form-control-sm" %>
    </div>

    <div class="mb-3">
      <b><%= form.label "Texto:", class: "form-label" %></b><br />
      <%= form.text_area :text, size: "100x4", class: "form-control form-control-sm" %>
    </div>

    <div class="d-flex flex-row justify-content-end mt-3">
      <%= form.submit class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
