<div id="<%= dom_id order %>">
  <p>
    <strong>Email del Cliente:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Direccion del Cliente:</strong>
    <%= order.customer_address %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Procesada (?):</strong>
    <%= order.fulfilled %>
  </p>

  <% if order.order_products.any? %>
    <strong>Products:</strong>
    <% order.order_products.each do |op| %>
      <%= op.product.name %> 
      <%= op.quantity %>
    <% end %>
  <% end %>

</div>
