<div id="<%= dom_id order %>">
  <p>
    <strong>Email del Cliente:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Direccion del Cliente:</strong>
    <%= order.customer_address %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Procesada (?):</strong>
    <%= order.fulfilled %>
  </p>

</div>
