<p style="color: green" class="ms-5"><%= notice %></p>

<div class="border border-danger rounded my-3 mx-5 py-3 px-5">

  <div class="d-flex flex-row justify-content-between mb-5">
    <div class="me-5">
      <%= link_to "<<", admin_orders_path, class: 'link-style' %>
    </div>
    <div class="d-flex flex-row">
      <%= link_to "Edita este Pedido", edit_admin_order_path(@admin_order), class: 'link-style me-3' %> |
      <%= button_to "Elimina este Pedido", admin_order_path(@admin_order.id), method: :delete, class: 'btn btn-outline-danger py-0 ms-3' %>
    </div>
  </div>

  <div class="mb-5">
    <%= render @admin_order %>
  </div>

</div>