<aside class="container">

  <div class="d-flex flex-row rounded mt-5 me-3">

    <div class="logo-style border border-danger mb-5 ms-3 me-2">
      <%= image_tag "school-logo.png", width: "100", class: "logo-style py-4 rounded" %>
    </div>

    <div class="d-flex flex-column align-items-end mb-3">

      <% School.find_each do |school| %>
        <div>
          <%= link_to "#{school.whatsapp}", target: "_blank" do %>
            <%= image_tag "whatsapp.png", height: "27", width: "27", class: 'me-2', alt: "WhatsApp" %>
          <% end %>
        </div>
        <div>
          <%= link_to "mailto:#{school.email}", target: "_blank" do %>
            <%= image_tag asset_path("envelope.png"), height: "25", width: "25", class: 'rounded me-2', alt: "Email" %>
          <% end %>
        </div>
        <div>
          <%= link_to "#{school.facebook}", target: "_blank" do %>
            <%= image_tag "facebook.png", height: "25", width: "25", class: 'me-2', alt: "Facebook" %>
          <% end %>
        </div>
    
        <div>
          <%= link_to "#{school.instagram}", target: "_blank" do %>
            <%= image_tag "instagram.png", height: "20", width: "25", class: 'mb-1 me-2', alt: "Instagram" %>
          <% end %>
        </div>
    
        <div>
          <%= link_to "#{school.webpage}", target: "_blank" do %>
            <%= image_tag "global-grid.png", height: "22", width: "22", class: 'me-2', alt: "World-wide-web" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="mt-3">

    <div class="d-flex flex-column my-5 ms-5">
      <div class="mb-4">
        <%= link_to root_path, method: :get do %>
          <%= image_tag "home.png", height: "22", width: "22", class: 'rounded', alt: "Home" %>
        <% end %>
      </div>
      <%= link_to "Actividades", admin_activities_path, class: "text-white link-style mb-2" %>
      <%= link_to "Publicaciones", admin_articles_path, class: "text-white link-style mb-2" %>
      <%= link_to "Galerias", admin_albums_path, class: "text-white link-style mb-2" %>
      <%= link_to "Eventos", admin_events_path, class: "text-white link-style mb-2" %>
      <div class="dropdown mb-3">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tienda
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="bg-dark">
            <%= link_to('Productos', admin_products_path, class: "text-white link-style mb-2" ) %>
          </div>
          <div class="bg-dark">
            <%= link_to('Pedidos', admin_orders_path, class: "text-white link-style mb-2" ) %>
          </div>
        </div>
      </div>
      <%= link_to "Pagos", "https://dashboard.stripe.com/test/payments", class: "text-white link-style mb-4" %>
      <%= link_to "< Salir", destroy_admin_session_path, data: { "turbo-method": :delete}, class: "text-white link-style" %>
    </div>

  </div>
</aside>


