<aside class="container">
  <%= image_tag "school-logo.png", width: "100", class: "rounded ms-2 mb-5" %>
  <ul>
    <li class="text-white my-3"><small>Nosotros</small></li>
    <li class="text-white mb-3"><%= link_to "Actividades", activities_path, class: "text-white link-style" %></li>
    <li class="text-white mb-3"><%= link_to "Publicaciones", articles_path, class: "text-white link-style" %></li>
    <li class="text-white mb-3"><%= link_to "Galerias", class: "text-white link-style" %></li>
    <li class="text-white mb-3"><%= link_to "Eventos", class: "text-white link-style" %></li>
    <li class="text-white mb-3"><small>Tienda</small></li>
  </ul>
</aside>