<h2 class="text-danger mt-3 mb-3">Tango Baja California</h2>

<% @schools.each do |school| %>
  <div class="d-flex flex-wrap">

    <div class="about mb-5 me-5">
      <%= school.description %>
      <div class="d-flex flex-row justify-content-end mt-3">
        <%= image_tag "phone.png", height: "20", width: "20", class: 'rounded me-2', alt: "Telephone" %>
        <p class="txt-phone text-white"><small><%= school.phone %></small><p>
      </div>
    </div>

    <div class="">
      <% if school.file.attached? %>
        <% if school.file.video? %> 
          <%= video_tag url_for(school.file), controls: "", style: "height: 500px; width: 600px;" %>
        <% end %>
      <% end %>
    </div>
    
  </div>
<% end %>

<div class="d-flex flex-wrap mt-2">
  <% admins = Admin.all %>
  <% admins.each do |admin| %>
      <div class="bio border border-danger rounded mb-3 me-3 py-3 px-3">
        <div class="d-flex flex-row justify-content-center">
          <% if admin.avatar.attached? %>
            <%= image_tag admin.avatar, height: 150, class: ""  %>
          <% end %>
        </div>
        <div class="d-flex flex-column">
          <p class="text-danger mt-3"><%= admin.name %></p>
          <%= admin.bio %>
        </div>
      </div>
  <% end %>
</div>

<div class="d-flex flex-row justify-content-start my-3">
  <small><%= link_to "*", new_admin_session_path, class: "text-danger link-style" %></small>
</div>