<div id="<%= dom_id event %>">

  <div class="d-flex flex-column align-items-center mb-4">
    <p>
      <strong><%= event.title %></strong>
    </p>

    <div class="row mb-4">
      <% if event.image.attached? %>
        <%= image_tag event.image, height: 200, class: ""  %>
      <% end %>
    </div>

    <p>
      <%= event.description %>
    </p>
  </div>

  <p class="mb-3">
    <strong>Hospiciado por:</strong>
    <%= event.hosted_by %>
  </p>

  <div class="d-flex flex-row">
    <%= image_tag "calendar.png", height:"20", width: "20", class: "me-3" %>
    <p class="me-3"><%= translate_to_spanish(event.start_time) %></p>
  </div>

  <div class="d-flex flex-row">
    <%= image_tag "location.png", height:"20", width: "20", class: "me-3" %>
    <p><%= event.place %></p>
  </div>

</div>