<div id="<%= dom_id event %>">
  <p>
    <strong><%= event.title %></strong>
  </p>

  <p>
    <%= truncate event.description, lenght: 100 %>
  </p>

  <p>
    <strong>Hospiciado por:</strong>
    <%= event.hosted_by %>
  </p>

  <div class="d-flex flex-row">
    <%= image_tag "calendar.png", height:"20", width: "20", class: "me-3" %>
    <p class="me-3"><%= translate_to_spanish(event.start_time) %></p>
    <p class="ms-3"><%= translate_to_spanish(event.end_time) %></p>
  </div>

  <div class="d-flex flex-row">
    <%= image_tag "location.png", height:"20", width: "20", class: "me-3" %>
    <p><%= event.place %></p>
  </div>

</div>