<div class="border border-dark rounded mt-3 mx-5">
  <div class="my-5 mx-5">
    <div class="d-flex flex-column justify-content-start mb-5">

      <div class="d-flex flex-column align-items-center mb-5">
        <div class="row">
          <% if @admin_medium.image.attached? %>
            <%= image_tag @admin_medium.image, height: 200, width: 200, class: ""  %>
          <% end %>
        </div>
        <div class="row">
          <% if @admin_medium.file.attached? %>
            <% if @admin_medium.file.video? %>
              <%= video_tag url_for(@admin_medium.file), controls: "" %>
            <% elsif @admin_medium.file.previewable? %>
              <div style="height:300px;width:300px">
                <%= image_tag @admin_medium.image.preview(resize_to_fit: [300,300]) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <p><strong><%= @admin_medium.title %></strong></p>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <%= @admin_medium.description %>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-end mb-3">
      <%= button_to "Elimina este Elemento", admin_medium_path(@admin_medium.id), method: :delete, class: 'btn btn-outline-danger py-0' %>
    </div>
    <div class="d-flex flex-row mb-3">
      <%= link_to "Edita este Elemento", edit_admin_medium_path(@admin_medium)%>
    </div>
  </div>
</div>

<div class="mt-3 ms-5">
  <%= link_to "Listado de Albumes", admin_albums_path, class: '' %>
</div>