<div class="border border-danger rounded my-3 mx-5">
  <div class="my-3 mx-5">

    <div class="d-flex flex-row justify-content-between mb-5">
      <div class="me-5">
        <%= link_to "<<", admin_albums_path, class: 'link-style' %>
      </div>
      <div class="d-flex flex-row">
        <%= link_to "Edita este Contenido", edit_admin_medium_path(@admin_medium), class: 'link-style me-3' %> |
        <%= button_to "Elimina este Contenido", admin_medium_path(@admin_medium.id), method: :delete, class: 'btn btn-outline-danger py-0 ms-3' %>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-start mb-5">

      <div class="d-flex flex-row justify-content-center mb-3">
        <p><strong><%= @admin_medium.title %></strong></p>
      </div>

      <div class="d-flex flex-column align-items-center">
        <div class="row">
          <% if @admin_medium.image.attached? %>
            <%= image_tag @admin_medium.image, height: 200, width: 200, class: ""  %>
          <% end %>
        </div>
        <div class="row">
          <% if @admin_medium.file.attached? %>
            <% if @admin_medium.file.video? %>
              <%= video_tag url_for(@admin_medium.file), controls: "" %>
            <% elsif @admin_medium.file.previewable? %>
              <div style="height:300px;width:300px">
                <%= image_tag @admin_medium.image.preview(resize_to_fit: [300,300]) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center mt-3">
        <%= @admin_medium.description %>
      </div>
    </div>

  </div>
</div>


