<div id="<%= dom_id activity %>">

  <div class="mb-3">
    <%= activity.images.any? ? image_tag(activity.images.first, height: 100, width: 100) : image_tag("https://via.placeholder.com/100")%>
  </div>

  <p>
    <strong>Categoria:</strong>
    <%= activity.category %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Fecha/Horario:</strong>
    <%= activity.time %>
  </p>

  <p>
    <strong>Lugar:</strong>
    <%= activity.place %>
  </p>

</div>
