<div id="<%= dom_id activity %>">
  <p>
    <strong>Category:</strong>
    <%= activity.category %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= activity.time %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= activity.place %>
  </p>

</div>
