<div id="<%= dom_id short %>" class="mb-5">

  <div class="d-flex flex-column align-items-center mb-3">
    <p class="mb-3">
      <strong><%= activity.title %></strong>
    </p>
    <div>
      <%= activity.images.any? ? image_tag(activity.images.first, height: 150, width: 150) : image_tag("https://via.placeholder.com/150")%>
    </div>
  </div>

  <p>
    <%= truncate activity.description, length: 200 %>
  </p>

  <p>
    <strong>Fecha/Horario:</strong>
    <%= activity.time %>
  </p>

  <p>
    <strong>Lugar:</strong>
    <%= activity.place %>
  </p>

</div>