<p style="color: green" class="ms-5"><%= notice %></p>

<div class="d-flex flex-row justify-content-between mt-3 mx-5">
  <h3 class="ms-5">Actividades</h3>
  <div>    
    <%= link_to "Crea Una Actividad", new_admin_activity_path, class: "btn btn-outline-primary py-0" %>
  </div>
</div>

<div class="my-5 mx-5">

  <% @admin_activities.group_by(&:category).each do |category, activities| %>
    <% if category == 'Clase' %>
      <h4 class="ms-5">Clases</h4>
      <ul class="d-flex flex-wrap">
        <% activities.each do |activity| %>
          <% if activity.category == 'Clase' %>
            <li class="d-flex flex-column border border-dark rounded my-2 mx-2 py-5 px-5">
              <%= render activity %>
            <p class="d-flex flex-row justify-content-end">
              <%= link_to "Mas", admin_activity_path(activity.id) %>
            </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% elsif category == 'Taller' %>
      <h4 class="mt-5 ms-5">Talleres</h4>
      <ul class="d-flex flex-wrap">
        <% activities.each do |activity| %>
          <% if activity.category == 'Taller' %>
            <li class="d-flex flex-column border border-dark rounded my-2 mx-2 py-5 px-5">
              <%= render activity %>
              <p class="d-flex flex-row justify-content-end">
                <%= link_to "Mas", admin_activity_path(activity.id) %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% elsif category == 'Seminario' %>
      <h4 class="mt-5 ms-5">Seminarios</h4>
      <ul class="d-flex flex-wrap">
        <% activities.each do |activity| %>
          <% if activity.category == 'Seminario' %>
            <li class="d-flex flex-column border border-dark rounded my-2 mx-2 py-5 px-5">
              <%= render activity %>
              <p class="d-flex flex-row justify-content-end">
                <%= link_to "Mas", admin_activity_path(activity.id) %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

</div>