<p style="color: green" class="ms-5"><%= notice %></p>

<div class="border border-danger rounded my-3 mx-5 py-3 px-5">

  <div class="d-flex flex-row justify-content-between mb-5">
    <div class="me-5">
      <%= link_to "<<", admin_activities_path, class: "link-style" %>
    </div>
    <div class="d-flex flex-row">
      <%= link_to "Edita esta Actividad", edit_admin_activity_path(@admin_activity), class: 'link-style me-3' %> |
      <%= button_to "Elimina esta Actividad", admin_activity_path(@admin_activity.id), method: :delete, class: 'btn btn-outline-danger py-0 ms-3' %>
    </div>
  </div>

  <div>
    <div class="d-flex flex-column align-items-center mb-3">
      <p class="mb-3">
        <strong><%= @admin_activity.title %></strong>
      </p>
      <div class="row">
        <% if @admin_activity.images.any? %>
          <div class="d-flex flex-wrap mb-3">
            <% @admin_activity.images.each do |image| %>
              <%= image_tag(image, height: 150, width: 150, class: "rounded me-2 mb-2") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <p>
      <%= @admin_activity.description %>
    </p>

    <p>
      <strong>Fecha/Horario:</strong>
      <%= @admin_activity.time %>
    </p>

    <p>
      <strong>Lugar:</strong>
      <%= @admin_activity.place %>
    </p>

  </div>

</div>
