<p style="color: green" class="ms-5"><%= notice %></p>

<div class="border border-dark rounded my-3 mx-5 py-5 px-5">
  <%= render @admin_activity %>

  <div class="d-flex flex-row justify-content-end mb-3">
    <%= button_to "Elimina esta Actividad", admin_activity_path(@admin_activity.id), method: :delete, class: 'btn btn-outline-danger py-0' %>
  </div>

  <div>
    <div class="d-flex flex-row mb-3">
      <%= link_to "Edita esta Actividad", edit_admin_activity_path(@admin_activity), class: 'me-3' %> |
      <%= link_to "Listado de Actividades", admin_activities_path, class: 'ms-3' %>
    </div>
   
</div>
