<div id="<%= dom_id product %>">

  <div class="d-flex flex-column align-items-center mb-4">

    <p>
      <%= product.name %>
    </p>
    
    <div class="row mb-4">
      <% if product.images.any? %>
        <div class="d-flex flex-wrap mb-3">
          <% product.images.each do |image| %>
            <%= image_tag(image, height: 200, class: "rounded me-2 mb-2") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <p>
      <%= product.description %>
    </p>

  </div>

  <p>
    <strong>Precio:</strong> $ <%= (product.price/100.0).to_s %>
  </p>

  <p>
    <strong>Activo (?):</strong> 
    <% if product.active %>
      <%= check_box_tag 'product_active', '1', true, disabled: true %>
    <% else %>
      <%= check_box_tag 'product_active', '0', false, disabled: true %>
    <% end %>
  </p>

</div>
