<div class="border border-danger rounded mt-3 mx-5">
  <div class="my-3 mx-5">
    <div class="d-flex flex-column justify-content-start mb-3">
      <div class="mb-3">
        <%= link_to "<<", albums_path, class: "link-style" %>
      </div>
      <div class="d-flex flex-column align-items-center mb-3">
        <p><strong><%= @medium.title %></strong></p>
        <div class="row">
          <% if @medium.image.attached? %>
            <%= image_tag @medium.image, height: 200, class: ""  %>
          <% end %>
        </div>
        <div class="row">
          <% if @medium.file.attached? %>
            <% if @medium.file.video? %>
              <%= video_tag url_for(@medium.file), controls: "" %>
            <% elsif @medium.file.previewable? %>
              <div style="height:200px;width:200px">
                <%= image_tag @medium.image.preview(resize_to_fit: [200,200]) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
      <%= @medium.description %>
      </div>
    </div>

  </div>
</div>

