<div id="<%= dom_id activity %>" class="mb-5">

  <div class="d-flex flex-column align-items-center mb-3">
    <p class="row mb-3">
      <strong><%= activity.title %></strong>
    </p>
    <div class="row">
      <% if activity.images.any? %>
        <%= image_tag(activity.images.first, height: 150, class: "rounded") %>
      <% end %>
    </div>
  </div>

  <p>
    <%= truncate activity.description, lenght: 100 %>
  </p>

  <div class="d-flex flex-row">
    <%= image_tag "calendar.png", height:"20", width: "20", class: "mt-1 me-3" %>
    <p><%= activity.time %></p>
  </div>

  <div class="d-flex flex-row">
    <%= image_tag "location.png", height:"20", width: "20", class: "mt-1 me-3" %>
    <p><%= activity.place %></p>
  </div>

</div>