<!DOCTYPE html>
<html>
  <head>
    <title>TangoBajaCalifornia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div>
      <!-- Sidebar -->
      <div class="sidebar">
        <%= render 'shared/sidebar' %>
      </div>

      <!-- Toggle Button -->
      <div class="div-mc">
        <button class="button-mc btn btn-outline-primary border border-primary" id="toggleButton">+</button>
      </div>

      <!-- Page content -->
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const sidebar = document.querySelector('.sidebar');
        const toggleButton = document.getElementById('toggleButton');
        
        toggleButton.addEventListener('click', function () {
          sidebar.classList.toggle('open');
          updateButtonText();
        });

        // Function to update button text based on sidebar state
        function updateButtonText() {
          const isOpen = sidebar.classList.contains('open');
          toggleButton.textContent = isOpen ? 'x' : '+';
        }
      });
    </script>
  </body>
</html>

